{% extends "base.html" %}
{% block content %}
    <div class="section group">
        <div id="call_to_action" class="col span_3_of_3">
            <h1>Enter a URL and see its source</h1>
            <form action="/fetch" method="post" id="urlform">
            <div>
                {% if form.url.errors %}
                    <ul class="errors">
                        {% for error in form.url.errors %}
                            <li class"form_error">{{ error }}</li>
                        {% endfor %}        
                    </ul>
                {% endif %}
            <!-- <label for="url">URL:</label>
                <input type="text" id="url" name="url"/> -->
                {{ form.url.label }}: {{ form.url }}
            </div>
            <div class="button">
                <button type="submit">Fetch source!</button>
            </div>
            </form>
        </div>
    </div>
    <div class="section group">
        {% if html_errors %}
            <ul class="errors">
                {% for error in html_errors %}
                    <li class="html_error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if tag_dict %}
            <div class="output col span_1_of_3" id="tags">
                <h2 id="tags_h2">Tags found</h2>
                {% for tag, count in tag_dict|dictsort %}
                <li class="tag_li"><b><a href="#">{{ tag }}</a></b>: {{ count }}</li>
                {% endfor %}
                <button id="unmark" type="submit" onclick="unmark();">Unmark all</button>
            </div>
            <div class="output col span_2_of_3" id="target_html">
                <h2 id="source_header">Source</h2>
                <pre>
                    <code id="source_html">
                        {{ source_html }}
                    </code>
                </pre>
            </div>
        {% endif %}
    </div>
{% endblock %}
